.textfield {
    align-items: center;
    border: 1.5px solid #999;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    font-size: 20px;
    letter-spacing: normal;
    margin: 10px 0;
}

.textfield input {
    border: none;
    height: 30px;
    outline: none;
    padding: 0 10px;
    width: 100%;
}

.textfield input:focus {
    border-radius: 5px;
    outline: 2px solid dodgerblue;
}

::placeholder {
    color: #555;
}

.label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: -13px;
    margin-left: 5px;
}

.textfield--small {
    width: 25%;
}

.textfield--medium {
    width: 50%;
}

.textfield--large {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}